body {
  position: relative;
}
body nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #01113b;
  padding: 20px 0;
  z-index: 999;
}
body nav .container .logo img {
  width: 111px;
  height: 25px;
  -o-object-fit: contain;
  object-fit: contain;
}
body nav .container .col-6 .nav-links ul {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
body nav .container .col-6 .nav-links ul li {
  padding: 10px 0;
  cursor: pointer;
  color: white;
  font-size: 16px;
}
body nav .container .col-6 .nav-links ul li i {
  font-size: 12px;
  margin-left: 3px;
  transition: 0.2s ease-in-out;
}
body nav .container .col-6 .nav-links ul li a {
  color: white;
  font-size: 16px;
}
body nav .container .col-6 .nav-links ul #hiw,
body nav .container .col-6 .nav-links ul #sol,
body nav .container .col-6 .nav-links ul #res {
  position: relative;
}
body nav .container .col-6 .nav-links ul #hiw .hiw-drp,
body nav .container .col-6 .nav-links ul #sol .hiw-drp,
body nav .container .col-6 .nav-links ul #res .hiw-drp {
  position: absolute;
  top: 43px;
  left: -110px;
  background-color: white;
  border-radius: 15px;
  width: 730px;
  height: auto;
  padding: 25px;
  display: flex;
  display: none;
}
body nav .container .col-6 .nav-links ul #hiw .hiw-drp .left h6,
body nav .container .col-6 .nav-links ul #hiw .hiw-drp .right h6,
body nav .container .col-6 .nav-links ul #sol .hiw-drp .left h6,
body nav .container .col-6 .nav-links ul #sol .hiw-drp .right h6,
body nav .container .col-6 .nav-links ul #res .hiw-drp .left h6,
body nav .container .col-6 .nav-links ul #res .hiw-drp .right h6 {
  color: #8992c7;
  font-size: 16px;
}
body nav .container .col-6 .nav-links ul #hiw .hiw-drp .left a,
body nav .container .col-6 .nav-links ul #hiw .hiw-drp .right a,
body nav .container .col-6 .nav-links ul #sol .hiw-drp .left a,
body nav .container .col-6 .nav-links ul #sol .hiw-drp .right a,
body nav .container .col-6 .nav-links ul #res .hiw-drp .left a,
body nav .container .col-6 .nav-links ul #res .hiw-drp .right a {
  display: flex;
  gap: 15px;
  padding: 20px;
  padding-left: 10px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
body nav .container .col-6 .nav-links ul #hiw .hiw-drp .left a:hover,
body nav .container .col-6 .nav-links ul #hiw .hiw-drp .right a:hover,
body nav .container .col-6 .nav-links ul #sol .hiw-drp .left a:hover,
body nav .container .col-6 .nav-links ul #sol .hiw-drp .right a:hover,
body nav .container .col-6 .nav-links ul #res .hiw-drp .left a:hover,
body nav .container .col-6 .nav-links ul #res .hiw-drp .right a:hover {
  background-color: #e9ecfa;
}
body nav .container .col-6 .nav-links ul #hiw .hiw-drp .left a .right-info h5,
body nav .container .col-6 .nav-links ul #hiw .hiw-drp .right a .right-info h5,
body nav .container .col-6 .nav-links ul #sol .hiw-drp .left a .right-info h5,
body nav .container .col-6 .nav-links ul #sol .hiw-drp .right a .right-info h5,
body nav .container .col-6 .nav-links ul #res .hiw-drp .left a .right-info h5,
body nav .container .col-6 .nav-links ul #res .hiw-drp .right a .right-info h5 {
  color: #001c63;
  font-size: 18px;
  margin-bottom: 5px;
}
body nav .container .col-6 .nav-links ul #hiw .hiw-drp .left a .right-info p,
body nav .container .col-6 .nav-links ul #hiw .hiw-drp .right a .right-info p,
body nav .container .col-6 .nav-links ul #sol .hiw-drp .left a .right-info p,
body nav .container .col-6 .nav-links ul #sol .hiw-drp .right a .right-info p,
body nav .container .col-6 .nav-links ul #res .hiw-drp .left a .right-info p,
body nav .container .col-6 .nav-links ul #res .hiw-drp .right a .right-info p {
  font-size: 13px;
  color: #8992c7;
  margin: 0;
}
body nav .container .col-6 .nav-links ul #hiw .hiw-drp .left,
body nav .container .col-6 .nav-links ul #sol .hiw-drp .left,
body nav .container .col-6 .nav-links ul #res .hiw-drp .left {
  border-right: 1px solid rgba(137, 146, 199, 0.7176470588);
  padding-right: 20px;
}
body nav .container .col-6 .nav-links ul #hiw .hiw-drp .right,
body nav .container .col-6 .nav-links ul #sol .hiw-drp .right,
body nav .container .col-6 .nav-links ul #res .hiw-drp .right {
  padding-left: 15px;
}
body nav .container .col-6 .nav-links ul #hiw:hover i,
body nav .container .col-6 .nav-links ul #sol:hover i,
body nav .container .col-6 .nav-links ul #res:hover i {
  transform: rotate(-180deg);
}
body nav .container .col-6 .nav-links ul #hiw:hover .hiw-drp,
body nav .container .col-6 .nav-links ul #sol:hover .hiw-drp,
body nav .container .col-6 .nav-links ul #res:hover .hiw-drp {
  display: flex;
}
body nav .container .col-6 .nav-links ul #res .hiw-drp {
  width: 360px;
  padding: 0;
}
body nav .container .col-6 .nav-links ul #res .hiw-drp .left {
  border: none;
  padding: 15px;
}
body nav .container .nav-btns {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
body nav .container .nav-btns #login {
  padding: 10px;
  font-size: 16px;
  color: white;
  font-weight: 500;
}
body nav .container .nav-btns #signup {
  padding: 15px 15px;
  font-size: 16px;
  width: 84px;
  height: 55px;
  color: white;
  background-color: #2240cd;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
body nav .container .nav-btns #signup:hover {
  background-color: #132981;
}
body nav .container .nav-btns button {
  padding: 15px 20px;
  border: 0.5px solid rgba(82, 81, 81, 0.826);
  background-color: transparent;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
body nav .container .nav-btns button:hover {
  background-color: rgba(169, 169, 169, 0.199);
}
@media (max-width: 991px) {
  body nav .container {
    display: none;
  }
}
body nav .mobile-navbar {
  width: 100%;
  padding: 5px 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
@media (max-width: 440px) {
  body nav .mobile-navbar {
    padding: 5px 15px;
  }
}
body nav .mobile-navbar .logo img {
  width: 111px;
  height: 25px;
  -o-object-fit: contain;
  object-fit: contain;
}
body nav .mobile-navbar .btns-nav {
  display: flex;
  align-items: center;
}
body nav .mobile-navbar .btns-nav button {
  width: 120px;
  height: 40px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  background-color: #2240cd;
  border-color: transparent;
  border-radius: 8px;
  margin-right: 15px;
}
@media (max-width: 440px) {
  body nav .mobile-navbar .btns-nav button {
    width: 100px;
    height: 35px;
    font-size: 13px;
  }
}
body nav .mobile-navbar .btns-nav span {
  width: 56px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #4e5976;
  cursor: pointer;
}
body nav .mobile-navbar .btns-nav span i {
  color: white;
  font-size: 20px;
}
@media (max-width: 440px) {
  body nav .mobile-navbar .btns-nav span i {
    font-size: 16px;
  }
}
body nav .mobile-navbar .btns-nav span .x-sign {
  display: none;
}
@media (max-width: 991px) {
  body nav .mobile-navbar {
    display: flex;
  }
}
body .mobile-menu {
  width: 100%;
  background-color: white;
  z-index: 1000;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  position: fixed;
  top: 85px;
  left: 0;
}
body .mobile-menu ul {
  margin: 0;
  padding: 0;
  padding-top: 8px;
}
body .mobile-menu ul li {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #132a97;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.429);
}
body .mobile-menu ul li a {
  color: #132a97;
  font-weight: 500;
  font-size: 18px;
  width: 100%;
}
body .mobile-menu ul li i {
  transition: 0.2s ease-in-out;
}
body .mobile-menu ul .drop-menu {
  width: 100%;
  background-color: #f3f3f3;
  padding: 20px 30px;
}
body .mobile-menu .btns {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .mobile-menu .btns a {
  width: 48%;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.372);
  padding: 12px 0;
  border-radius: 5px;
  color: #001c63;
  font-size: 18px;
  font-weight: 500;
}
body .mobile-menu .drop-menu {
  display: none;
}
body .mobile-menu .drop-menu h6 {
  color: #8992c7;
  font-size: 16px;
}
body .mobile-menu .drop-menu a {
  display: flex;
  gap: 15px;
  padding: 20px;
  padding-left: 10px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
body .mobile-menu .drop-menu a:hover {
  background-color: #e9ecfa;
}
body .mobile-menu .drop-menu a .right-info h5 {
  color: #001c63;
  font-size: 18px;
  margin-bottom: 5px;
}
body .mobile-menu .drop-menu a .right-info p {
  font-size: 13px;
  color: #8992c7;
  margin: 0;
}
body #book-demo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 492px;
  height: 90vh;
  border-radius: 30px;
  padding: 50px;
  background-color: white;
  z-index: 1000;
  overflow-y: auto;
  display: none;
}
@media (max-width: 530px) {
  body #book-demo {
    width: 90%;
    padding: 45px 15px;
  }
}
body #book-demo .fa-xmark {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 25px;
  cursor: pointer;
}
body #book-demo label {
  color: #33475b;
  font-size: 13px;
}
body #book-demo label span {
  color: red;
}
body #book-demo input,
body #book-demo select {
  width: 95%;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #f5f8fa;
  padding: 7px 10px;
}
body #book-demo select {
  padding: 9px;
}
body #book-demo button {
  background-color: #6d66db;
  color: white;
  font-weight: 600;
  width: 126px;
  height: 37px;
  font-size: 13px;
  border-color: transparent;
  border-radius: 3px;
  margin-top: 30px;
}
body #book-demo .msg-box {
  margin-bottom: 25px;
  color: #f2545b;
  font-size: 13px;
}
body .overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.553);
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: none;
}

.active-caret {
  transform: rotate(-180deg) !important;
}

.active-dropdown {
  display: block !important;
}

.block {
  display: block !important;
}

.none {
  display: none !important;
}

.active-menu {
  height: 80vh !important;
  overflow: auto !important;
}

#login {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  #login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}
#login .left {
  position: relative;
  width: 770px;
  background-color: rgb(0, 28, 99);
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 768px) {
  #login .left {
    display: none !important;
  }
}
#login .left .img {
  position: absolute;
  height: 100vh;
  width: 900px;
}
#login .left .img img {
  height: 100vh;
  width: 900px;
  box-sizing: border-box;
}
#login .left .text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 36px;
  z-index: 3000;
}
#login .left .text .logo {
  z-index: 300;
}
#login .left .text .logo h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 560;
  color: white;
  z-index: 300;
}
#login .left .text .alt {
  margin-top: 520px;
}
#login .left .text .alt h3 {
  font-size: 27px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 610;
  color: white;
}
#login .left .text .alt h4 {
  margin-top: 8px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: white;
}
#login .rigth {
  justify-content: center;
  width: 725px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  #login .rigth {
    padding: 40px;
    margin-top: 50px;
  }
}
#login .rigth .ust {
  width: 460px;
  height: 588px;
}
@media (max-width: 500px) {
  #login .rigth .ust {
    width: 60%;
  }
}
@media (max-width: 400px) {
  #login .rigth .ust {
    width: 54%;
  }
}
#login .rigth .ust h2 {
  font-size: 38px;
  color: #001c63;
  font-weight: 630;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (max-width: 400px) {
  #login .rigth .ust h2 {
    font-size: 27px;
    margin-left: 10px;
  }
}
#login .rigth .ust h4 {
  margin-top: 10px;
  color: #8997c7;
  font-size: 18px;
  font-weight: 489;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (max-width: 400px) {
  #login .rigth .ust h4 {
    font-size: 15px;
    margin-left: 10px;
  }
}
#login .rigth .ust .google {
  cursor: pointer;
  margin-left: 17px;
  margin-top: 34px;
  background-color: rgb(248, 244, 244);
  width: 400px;
  height: 50px;
  border: 1.5px solid rgb(177, 169, 169);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 500px) {
  #login .rigth .ust .google {
    width: 300px;
    height: 50px;
  }
}
#login .rigth .ust .google i {
  cursor: pointer;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(37, 171, 88);
}
#login .rigth .ust .google h3 {
  margin-left: 80px;
  font-weight: 510;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (max-width: 500px) {
  #login .rigth .ust .google h3 {
    margin-left: 20px;
  }
}
@media (max-width: 360px) {
  #login .rigth .ust .google h3 {
    margin-left: 1px;
  }
}
#login .rigth .ust hr {
  margin-top: 40px;
}
#login .rigth .ust .lgn h4 {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #001c63;
  font-weight: 560;
}
#login .rigth .ust .lgn input {
  margin-top: 16px;
  width: 436px;
  height: 45px;
  padding: 12px;
  border-radius: 5px;
  border-color: rgb(208, 204, 204);
}
@media (max-width: 500px) {
  #login .rigth .ust .lgn input {
    width: 100%;
    height: 50px;
  }
}
#login .rigth .ust .lgn :focus {
  box-shadow: -9px 22px 34px -9px rgba(102, 112, 129, 0.83);
  -webkit-box-shadow: -9px 22px 34px -9px rgba(102, 112, 129, 0.83);
  -moz-box-shadow: -9px 22px 34px -9px rgba(102, 112, 129, 0.83);
  outline: transparent solid 2px;
  border-color: #2563eb;
  outline-offset: 2px;
}
#login .rigth .ust .password .text {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 436px;
}
@media (max-width: 500px) {
  #login .rigth .ust .password .text {
    width: 100%;
  }
}
#login .rigth .ust .password .text h3 {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #001c63;
  font-weight: 450;
}
#login .rigth .ust .password .text h5 {
  cursor: pointer;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #abb2d9;
  font-weight: 450;
}
#login .rigth .ust .password .input input {
  margin-top: 16px;
  width: 436px;
  height: 45px;
  padding: 12px;
  border-radius: 5px;
  border-color: rgb(230, 226, 226);
}
@media (max-width: 500px) {
  #login .rigth .ust .password .input input {
    width: 100%;
  }
}
#login .rigth .ust .password .input :focus {
  box-shadow: -9px 22px 34px -9px rgba(102, 112, 129, 0.83);
  -webkit-box-shadow: -9px 22px 34px -9px rgba(102, 112, 129, 0.83);
  -moz-box-shadow: -9px 22px 34px -9px rgba(102, 112, 129, 0.83);
  outline: transparent solid 2px;
  border-color: #2563eb;
  outline-offset: 2px;
}
#login .rigth .ust .password .sumbit {
  margin-top: 14px;
  align-items: center;
  display: flex;
}
#login .rigth .ust .password .sumbit input {
  width: 28px;
  height: 28px;
  border-radius: 10px;
}
#login .rigth .ust .password .sumbit label {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #001c63;
  padding: 0 10px;
  opacity: 0.7;
}
#login .rigth .ust .password .alt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login .rigth .ust .password .alt button {
  cursor: pointer;
  margin-top: 20px;
  background-color: rgb(0, 28, 99);
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 104px;
  height: 64px;
  border-color: transparent;
  border-radius: 10px;
}
#login .rigth .ust .password .alt h4 {
  font-size: 16px;
  color: black;
  font-family: sans-serif;
  margin-top: 34px;
}
#login .rigth .ust .password .alt h4 a {
  font-weight: bold;
}

body {
  background-color: white;
}

#signup {
  overflow: hidden;
  display: flex;
  height: 100vh;
  flex-direction: row;
}
@media (max-width: 500px) {
  #signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}
#signup .left {
  position: relative;
  width: 100%;
  background-color: rgb(0, 28, 99);
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 945px) {
  #signup .left {
    display: none !important;
  }
}
#signup .left .img {
  position: absolute;
  height: 100vh;
  width: 900px;
}
#signup .left .img img {
  height: 900px;
  width: 900px;
  box-sizing: border-box;
}
#signup .left .text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 36px;
  z-index: 3000;
}
#signup .left .text .logo {
  z-index: 300;
}
#signup .left .text .logo h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 560;
  color: white;
  z-index: 300;
}
#signup .left .text .alt {
  margin-top: 490px;
  width: 84%;
}
#signup .left .text .alt h3 {
  font-size: 27px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 610;
  color: white;
}
#signup .left .text .alt h4 {
  margin-top: 8px;
  line-height: 1.7;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 380;
  color: white;
}
#signup .rigth {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#signup .rigth .ust {
  width: 460px;
  height: 600px;
}
@media (max-width: 600px) {
  #signup .rigth .ust {
    padding: 30px;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  #signup .rigth .ust {
    margin-top: 10px;
  }
}
#signup .rigth .ust h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.7px;
  font-size: 38px;
  font-weight: 550;
  color: #001c63;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 400px) {
  #signup .rigth .ust h2 {
    font-size: 20px;
  }
}
@media (max-width: 378px) {
  #signup .rigth .ust h2 {
    font-size: 14px;
    padding: 0 30px;
  }
}
@media (max-width: 945px) {
  #signup .rigth .ust h2 {
    font-size: 24px;
  }
}
#signup .rigth .ust h3 {
  width: 100%;
  margin-top: 20px;
  color: #8992c7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 530;
  letter-spacing: 0.7px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 450px) {
  #signup .rigth .ust h3 {
    font-size: 7px;
    padding: 0 7px;
  }
}
@media (max-width: 700px) {
  #signup .rigth .ust h3 {
    font-size: 16px;
    width: 100%;
    padding: 0 10px;
  }
}
@media (max-width: 414px) {
  #signup .rigth .ust h3 {
    font-size: 12px;
    width: 100%;
    padding: 0 20px;
  }
}
#signup .rigth .ust .text {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#signup .rigth .ust .text p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #8992c7;
  font-weight: 550;
}
@media (max-width: 945px) {
  #signup .rigth .ust .text {
    padding: 30px;
    margin-top: 30px;
  }
}
#signup .rigth .ust .opsi {
  margin-top: 50px;
}
@media (max-width: 945px) {
  #signup .rigth .ust .opsi {
    padding: 30px;
    margin-top: 30px;
  }
}
#signup .rigth .ust .opsi .alt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid #8992c7;
  border-radius: 7px;
  height: 80px;
  margin-top: 30px;
  padding: 0 10px;
}
#signup .rigth .ust .opsi .alt .sol {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#signup .rigth .ust .opsi .alt .sol input {
  margin-top: 8px;
  width: 25px;
  height: 25px;
  border: 2px solid #8992c7;
}
#signup .rigth .ust .opsi .alt .sol #salam1 {
  margin-left: 5px;
  font-size: 18px;
  color: #001c63;
  font-weight: 430;
  letter-spacing: 0.4px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 500px) {
  #signup .rigth .ust .opsi .alt .sol #salam1 {
    margin-left: 10px;
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  #signup .rigth .ust .opsi .alt .sol #salam1 {
    margin-left: 10px;
    font-size: 17px;
  }
}
@media (max-width: 400px) {
  #signup .rigth .ust .opsi .alt .sol #salam1 {
    margin-left: 10px;
    font-size: 11px;
  }
}
@media (max-width: 798px) {
  #signup .rigth .ust .opsi .alt .sol #salam1 {
    margin-left: 10px;
    font-size: 16px;
  }
}
#signup .rigth .ust .opsi .alt .sol #salam2 {
  margin-left: 5px;
  font-size: 18px;
  color: #001c63;
  font-weight: 430;
  letter-spacing: 0.4px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 500px) {
  #signup .rigth .ust .opsi .alt .sol #salam2 {
    margin-left: 10px;
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  #signup .rigth .ust .opsi .alt .sol #salam2 {
    margin-left: 10px;
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  #signup .rigth .ust .opsi .alt .sol #salam2 {
    margin-left: 10px;
    font-size: 17px;
  }
}
@media (max-width: 798px) {
  #signup .rigth .ust .opsi .alt .sol #salam2 {
    margin-left: 10px;
    font-size: 16px;
  }
}
#signup .rigth .ust .opsi .alt .sag {
  margin-left: 15px;
}
#signup .rigth .ust .btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
}
#signup .rigth .ust .btn button {
  width: 130px;
  height: 64px;
  background-color: #2240cd;
  border-color: transparent;
  border-radius: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#signup .rigth .ust .alt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#signup .rigth .ust .alt h4 {
  font-size: 16px;
  color: black;
  font-family: sans-serif;
  margin-top: 34px;
  font-weight: 300;
  letter-spacing: 0.3px;
}
#signup .rigth .ust .alt h4 a {
  font-weight: bold;
}

#first {
  background-color: #00103b;
  background-size: contain;
  padding: 160px 25px;
}
#first .img {
  width: 100%;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
}
#first .img img {
  width: 910px;
  height: 450px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#first .right {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-top: 40px;
}
@media (max-width: 991px) {
  #first .right {
    padding-left: 0;
  }
}
#first .right h3 {
  font-size: 46px;
  color: white;
  font-weight: 600;
  margin: 8px 0 64px 0;
}
@media (max-width: 560px) {
  #first .right h3 {
    font-size: 28px;
    margin: 8px 0 32px 0;
  }
}
#first .right button {
  background-color: #2240cd;
  border-radius: 8px;
  border-color: transparent;
  box-shadow: 0 6px 10px 0 rgba(6, 102, 235, 0.16);
  font-size: 18px;
  color: white;
  font-weight: 600;
  width: 146px;
  height: 54px;
}
#first .right button:hover {
  background-color: #102486;
}

#blogs {
  background-color: #e9ecfa;
  padding: 80px 30px;
}
#blogs .headings h3 {
  font-size: 108px;
  color: #abb2d9;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 991px) {
  #blogs .headings h3 {
    font-size: 28px;
  }
}
#blogs .headings p {
  color: #8992c7;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 991px) {
  #blogs .headings p {
    font-size: 16px;
  }
}
#blogs select {
  width: 100%;
  border-radius: 8px;
  padding: 8px 12px;
  border: none;
  font-size: 17px;
  color: #00103b;
  font-weight: 600;
  margin: 10px 0 45px 0;
  cursor: pointer;
}
#blogs .blog-card {
  cursor: pointer;
  margin-bottom: 50px;
}
#blogs .blog-card .img-cont {
  border-radius: 12px;
  overflow: hidden;
}
#blogs .blog-card .img-cont img {
  width: 100%;
  height: 250px;
}
#blogs .blog-card h5 {
  font-size: 14px;
  color: #abb2d9;
  font-weight: 600;
  margin: 15px 0;
}
#blogs .blog-card h5 span {
  font-weight: 400;
}
#blogs .blog-card p {
  font-size: 14px;
  color: #01113b;
  font-weight: 600;
  line-height: 28px;
}
#blogs .blog-card a {
  font-size: 16px;
  color: #2340cc;
}
#blogs .blog-card a i {
  font-size: 12px;
}

#swipper {
  margin-top: 500px;
}
#swipper .swiper-slide {
  background-color: #e9eaee;
  width: 650px;
  padding: 32px 30px;
  height: 310px;
  position: relative;
  border-radius: 12px;
}
@media (max-width: 768px) {
  #swipper .swiper-slide {
    width: 85%;
    height: auto;
  }
}
@media (max-width: 530px) {
  #swipper .swiper-slide {
    width: 90%;
    height: auto;
  }
}
#swipper .swiper-slide .img-cont .img1 {
  width: 150px;
  height: 75px;
}
#swipper .swiper-slide .img-cont .img2 {
  width: 60px;
  height: 61px;
  margin-bottom: 25px;
}
#swipper .swiper-slide .img-cont .img3 {
  width: 150px;
  height: 50px;
  margin-bottom: 25px;
}
#swipper .swiper-slide .img-cont .img4 {
  width: 120px;
  height: 31px;
  margin-bottom: 30px;
}
#swipper .swiper-slide p {
  color: #514f6e;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  #swipper .swiper-slide p {
    font-size: 14px;
  }
}
@media (max-width: 530px) {
  #swipper .swiper-slide p {
    font-size: 13px;
    line-height: 25px;
  }
}
#swipper .swiper-slide .name2 {
  margin-top: 60px;
}
#swipper .swiper-slide .name3 {
  margin-top: 45px;
}
#swipper .swiper-slide .name4 {
  margin-top: 30px;
}
#swipper .swiper-slide span {
  color: black;
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
}
@media (max-width: 530px) {
  #swipper .swiper-slide span {
    font-size: 13px;
  }
}
#swipper .swiper-slide h5 {
  color: #6f6c90;
  font-size: 18px;
  margin: 0;
}
@media (max-width: 530px) {
  #swipper .swiper-slide h5 {
    font-size: 15px;
  }
}

#section1 {
  background-color: #001c63;
  background-size: cover;
}

#first .items {
  overflow: hidden;
  margin-top: 0px;
}
#first .items .col-lg-6 {
  padding: 100px 0;
}
#first .items h3 {
  font-size: 42px;
  font-weight: 700;
  color: white;
}
#first .items h4 {
  margin-top: 15px;
  font-size: 26px;
  font-weight: 600;
  color: white;
}
#first .items p {
  line-height: 1.4;
  margin-top: 30px;
  color: #abb2d9;
  font-size: 22px;
}
#first .items .right {
  z-index: -100;
}
#first .items .right img {
  width: 700px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
#first .items .left {
  padding-top: 190px;
  padding-left: 110px;
}
@media (max-width: 768px) {
  #first .items .left {
    padding-left: 10px;
    padding-top: 120px;
  }
}

#second {
  background-size: cover;
  transform: translateY(-230px);
  padding-top: 220px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  #second {
    padding-top: 300px;
    transform: translateY(-250px);
  }
}
#second .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  #second .row .ust {
    display: block;
  }
}
#second .row .left h4 {
  font-size: 24px;
  color: #001c63;
  font-weight: 650;
}
#second .row .left p {
  color: #001c63;
  font-size: 17px;
  margin-bottom: 40px;
}
#second .row .left .p3 {
  margin: 0;
}
@media (max-width: 768px) {
  #second .row .left {
    margin-top: 50px;
  }
}
#second .row .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: white;
  height: auto;
  border-radius: 10px;
  padding: 55px 40px;
  box-shadow: 0px 0px 30px rgba(128, 128, 128, 0.24);
}
@media (max-width: 768px) {
  #second .row .right {
    padding: 25px 10px;
    margin-top: 40px;
  }
}
#second .row .right .img {
  width: 26vh;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 768px) {
  #second .row .right .img {
    width: 15vh;
  }
}
#second .row .right .img img {
  width: 200px;
  height: 200px;
}
@media (max-width: 768px) {
  #second .row .right .img img {
    width: 130px;
    height: 130px;
  }
}
#second .row .right .text h3 {
  color: #001c63;
  font-size: 31px;
  font-weight: 620;
  text-align: center;
}
@media (max-width: 768px) {
  #second .row .right .text h3 {
    font-size: 25px;
  }
}
@media (max-width: 400px) {
  #second .row .right .text h3 {
    font-size: 19px;
  }
}
#second .row .right .text h4 {
  color: #8992c7;
  font-size: 21px;
  text-align: center;
}
@media (max-width: 768px) {
  #second .row .right .text h4 {
    font-size: 17px;
  }
}
@media (max-width: 400px) {
  #second .row .right .text h4 {
    font-size: 14px;
  }
}
#second .row .right .text .button {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
#second .row .right .text .button button {
  border-radius: 5px;
  color: #2240cd;
  font-size: 18px;
  margin-top: 20px;
  width: 136px;
  height: 55px;
  border: 1px solid #8992c7;
  background-color: white;
  font-weight: 600;
}
#second .row .right .text .button button:hover {
  background-color: #d4dbfb;
}

#three {
  padding: 75px 150px;
  background-size: cover;
  background-color: #001c63;
}
@media (max-width: 991px) {
  #three {
    padding: 68px 0px;
  }
}
#three .flags {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgb(137, 146, 199);
  padding: 47px 0;
  background-color: transparent;
  border-radius: 22px;
}
@media (max-width: 768px) {
  #three .flags {
    padding: 32px 0;
  }
}
#three .flags .ust {
  padding: 0 68px;
}
@media (max-width: 768px) {
  #three .flags .ust {
    padding: 0px;
  }
}
#three .flags .ust h4 {
  font-size: 45px;
  font-weight: 630;
  text-align: center;
  margin-bottom: 22px;
  color: white;
}
@media (max-width: 1025px) {
  #three .flags .ust h4 {
    font-size: 37px;
  }
}
@media (max-width: 768px) {
  #three .flags .ust h4 {
    font-size: 33px;
  }
}
@media (max-width: 400px) {
  #three .flags .ust h4 {
    font-size: 25px;
  }
}
#three .flags .ust h5 {
  margin-top: 12px;
  font-size: 22px;
  text-align: center;
  margin-bottom: 63px;
  color: white;
}
@media (max-width: 768px) {
  #three .flags .ust h5 {
    font-size: 16px;
  }
}
#three .flags img {
  margin-top: 17px;
  height: auto;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#three .flags p {
  padding: 0 70px;
  font-size: 21px;
  color: white;
  text-align: center;
  margin-top: 60px;
}
@media (max-width: 768px) {
  #three .flags p {
    padding: 0px;
    font-size: 16px;
  }
}

#textimg {
  padding-top: 90px;
  margin-top: -200px;
  padding-bottom: 180px;
  background-color: #00103b;
}
#textimg .container {
  margin-top: 100px;
}
#textimg .container .first {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#textimg .container .first .col-lg-6 h3 {
  color: #8992c7;
  font-size: 25px;
}
@media (max-width: 560px) {
  #textimg .container .first .col-lg-6 h3 {
    font-size: 20px;
  }
}
@media (max-width: 560px) {
  #textimg .container .first .col-lg-6 h3 {
    font-size: 18px;
  }
}
#textimg .container .first .col-lg-6 h1 {
  color: white;
  font-size: 70px;
  margin: 27px 0;
}
@media (max-width: 1024px) {
  #textimg .container .first .col-lg-6 h1 {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  #textimg .container .first .col-lg-6 h1 {
    font-size: 50px;
  }
}
@media (max-width: 450px) {
  #textimg .container .first .col-lg-6 h1 {
    font-size: 32px;
  }
}
#textimg .container .first .col-lg-6 p {
  color: #bac1e8;
  font-size: 20px;
}
@media (max-width: 768px) {
  #textimg .container .first .col-lg-6 p {
    font-size: 19px;
  }
}
@media (max-width: 460px) {
  #textimg .container .first .col-lg-6 p {
    font-size: 16px;
  }
}
#textimg .container .first .col-lg-6 .image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 768px) {
  #textimg .container .first .col-lg-6 .image img {
    margin-top: 20px;
    height: 30%;
  }
}

#btstrp {
  margin-top: 30px;
  padding: 70px 0;
}
#btstrp .card {
  border-color: transparent;
  padding: 0 35px;
}
#btstrp .card .image {
  width: 48px;
  height: 48px;
  margin: 0 auto;
}
#btstrp .card .image img {
  width: 100%;
  height: 100%;
}
#btstrp .card h2 {
  color: #00103b;
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  #btstrp .card h2 {
    font-size: 24px;
  }
}
#btstrp .card p {
  margin-top: 10px;
  text-align: center;
  color: #01113b;
  font-size: 15px;
}
@media (max-width: 768px) {
  #btstrp .card p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  #btstrp .card {
    margin-bottom: 35px;
  }
}

#images {
  background-color: #e8ebfa;
  padding: 30px 0;
}
#images .text {
  margin-bottom: 50px;
  margin-top: 70px;
}
#images .text h3 {
  font-weight: 610;
  font-size: 31px;
  color: #001c63;
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #images .text h3 {
    font-size: 22px;
  }
}
#images .text .fourimg {
  margin-top: 42px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  #images .text .fourimg {
    flex-direction: column;
    align-items: center;
  }
}
#images .text .fourimg .img {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  #images .text .fourimg .img {
    width: 315px;
  }
}
#images .text .fourimg .img .img1 {
  width: 100px;
  height: 130px;
  margin-right: 86px;
}
@media (max-width: 768px) {
  #images .text .fourimg .img .img1 {
    margin-right: 50px;
    margin-left: 25px;
  }
}
#images .text .fourimg .img .img2 {
  width: 124px;
  height: 110px;
  margin-right: 90px;
}
@media (max-width: 768px) {
  #images .text .fourimg .img .img2 {
    margin-right: 10;
  }
}
#images .text .fourimg .img .img3 {
  width: 101px;
  height: 130px;
  margin-right: 86px;
}
@media (max-width: 768px) {
  #images .text .fourimg .img .img3 {
    margin-right: 73px;
    margin-left: 23px;
  }
}
#images .text .fourimg .img .img4 {
  width: 68px;
  height: 120px;
}

#endsection {
  background-color: #132a97;
  background-size: cover;
  background-position: center;
  padding: 100px 0 100px 0;
}
#endsection .image {
  width: 100%;
  height: auto;
}
#endsection .image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
#endsection h2 {
  font-size: 34px;
  font-weight: 620;
  text-align: center;
  color: white;
  margin: 16px 0 48px 0;
}
@media (max-width: 500px) {
  #endsection h2 {
    font-size: 20px;
  }
}
#endsection .btn {
  display: flex;
  justify-content: center;
}
#endsection .btn button {
  font-size: 19px;
  width: 208px;
  height: 54px;
  font-weight: 600;
  color: #2240cd;
  border-radius: 10px;
  background-color: white;
  border-color: transparent;
}
#endsection .btn button:hover {
  background-color: #e3e3e8;
}

#swiperimage {
  background-color: #e9ecfa;
  padding: 150px 40px;
}
@media (max-width: 768px) {
  #swiperimage {
    padding: 120px 20px 70px 20px;
  }
}
#swiperimage .headings h5 {
  font-size: 50px;
  text-align: center;
  color: #2240cd;
  font-weight: 600;
}
#swiperimage .headings p {
  font-size: 20px;
  text-align: center;
  color: #8992c7;
}
#swiperimage .swiper-slide {
  width: 290px;
}
#swiperimage .swiper-slide .image {
  height: 190px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
#swiperimage .swiper-slide .image img {
  width: 100%;
  height: 100%;
}
#swiperimage .swiper-slide p {
  font-size: 18px;
  color: #01113b;
  font-weight: 600;
  margin-top: 23px;
}
#swiperimage .swiper-slide a {
  font-size: 13px;
  color: #2240cd;
}
#swiperimage .swiper-slide a i {
  font-size: 9px;
}
#swiperimage .button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
#swiperimage .button button {
  width: 168px;
  height: 56px;
  background-color: #2240cd;
  font-size: 19px;
  border-radius: 10px;
  color: white;
  margin: 10px auto;
  border-color: transparent;
}
#swiperimage .button button:hover {
  background-color: #102486;
}

#button {
  background-color: #00103b;
  background-size: cover;
}
#button .ust {
  width: 60%;
  padding: 260px 160px 0;
}
#button .ust h2 {
  font-size: 43px;
  color: white;
  font-weight: 600;
}
@media (max-width: 768px) {
  #button .ust h2 {
    padding: 0 20px;
  }
}
@media (max-width: 450px) {
  #button .ust h2 {
    font-size: 27px;
    width: 100%;
  }
}
#button .ust h2 span {
  color: #6682ff;
}
#button .ust p {
  font-size: 23px;
  color: #abb2d9;
  line-height: 1.6;
}
@media (max-width: 768px) {
  #button .ust p {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  #button .ust {
    width: 100%;
    padding-left: 0;
  }
}
#button .items {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 35px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  #button .items {
    padding: 20px;
    justify-content: center;
  }
}
#button .items button {
  width: 219px;
  height: 54px;
  border-radius: 12px;
  background-color: #2240cd;
  font-size: 20px;
  font-weight: 600;
  color: white;
  border-color: transparent;
  transition: 0.1s ease-in-out;
}
#button .items button:hover {
  background-color: #19319c;
}
@media (max-width: 400px) {
  #button .items button {
    font-size: 17px;
  }
}
#button .items .video {
  width: 176px;
  height: 50px;
  cursor: pointer;
}
#button .items .video img {
  width: 100%;
  height: 100%;
}

#parts {
  padding-top: 50px;
  margin-bottom: 100px;
}
#parts .ilk {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 140px;
}
#parts .ilk h3 {
  margin-top: 40px;
  color: #001c63;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 480px) {
  #parts .ilk h3 {
    font-size: 28px;
  }
}
@media (max-width: 1024px) {
  #parts .ilk h3 {
    display: none !important;
  }
}
#parts .son {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
}
@media (max-width: 768px) {
  #parts .son {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  #parts .son {
    display: none !important;
  }
}
#parts .son .images {
  width: 450px;
  height: 350px;
  padding: 32px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
@media (max-width: 768px) {
  #parts .son .images {
    width: 450px;
    height: 350px;
  }
}
@media (max-width: 450px) {
  #parts .son .images {
    width: 300px;
    height: 280px;
    padding: 16px 15px;
  }
}
@media (max-width: 390px) {
  #parts .son .images {
    width: 260px;
    height: 280px;
    padding: 16px 15px;
  }
}
#parts .son .images .top p {
  color: white;
  font-size: 17px;
  padding-right: 80px;
}
@media (max-width: 768px) {
  #parts .son .images .top p {
    font-size: 16px;
    padding-right: 40px;
  }
}
@media (max-width: 450px) {
  #parts .son .images .top p {
    font-size: 15px;
    padding-right: 10px;
  }
}
#parts .son .images .bottom p {
  color: white;
  font-size: 17px;
  margin: 0;
}
@media (max-width: 768px) {
  #parts .son .images .bottom p {
    font-size: 10px;
  }
}
@media (max-width: 450px) {
  #parts .son .images .bottom p {
    font-size: 15px;
  }
}
#parts .son .images .bottom h5 {
  color: white;
  font-size: 16px;
  font-family: 500;
}
@media (max-width: 768px) {
  #parts .son .images .bottom h5 {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  #parts .son .images .bottom h5 {
    font-size: 14px;
  }
}
#parts .btn {
  background-color: #01113b;
  padding: 250px 0 30px 0;
  margin-top: -200px;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  #parts .btn {
    margin-top: -116.6666666667px;
    padding: 200px 0 50px 0;
  }
}
@media (max-width: 450px) {
  #parts .btn {
    margin-top: -87.5px;
    padding: 150px 0 50px 0;
  }
}
@media (max-width: 1024px) {
  #parts .btn {
    display: none !important;
  }
}
#parts .btn button {
  width: 134px;
  height: 54px;
  color: #2240cd;
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
  background-color: white;
  border-color: transparent;
}
#parts .btn button:hover {
  background-color: #e2e7ff;
}

footer .foot-top {
  padding: 36px 0;
  border-bottom: 1px solid #e9ecfa;
}
footer .foot-top .left .logo {
  margin-left: 0;
  margin-right: 60px;
}
@media (max-width: 768px) {
  footer .foot-top .left .logo {
    margin-right: 20px;
  }
}
@media (max-width: 420px) {
  footer .foot-top .left .logo {
    margin-right: 10px;
  }
}
footer .foot-top .left .logo img {
  width: 151px;
  height: 25px;
}
@media (max-width: 420px) {
  footer .foot-top .left .logo img {
    width: 83.25px;
    height: 18.75px;
  }
}
footer .foot-top .left a {
  font-size: 16px;
  color: #8992c7;
  margin: 0 25px;
}
@media (max-width: 768px) {
  footer .foot-top .left a {
    margin-left: 10px;
    margin-right: 0;
  }
}
@media (max-width: 420px) {
  footer .foot-top .left a {
    font-size: 13px;
  }
}
footer .foot-top .btn-cont {
  display: flex;
  justify-content: end;
}
@media (max-width: 991px) {
  footer .foot-top .btn-cont {
    justify-content: center;
    margin-top: 15px;
  }
}
footer .foot-top .btn-cont button {
  width: 181px;
  height: 55px;
  font-size: 19px;
  color: #2240cd;
  font-weight: 600;
  border: 1px solid rgba(119, 127, 162, 0.2);
  background-color: transparent;
  border-radius: 8px;
}
@media (max-width: 991px) {
  footer .foot-top .btn-cont button {
    width: 100%;
    margin-top: 20px;
  }
}
footer .foot-top .btn-cont button:hover {
  background-color: rgba(34, 64, 205, 0.1);
}
footer .foot-body {
  padding: 36px 0;
}
@media (max-width: 768px) {
  footer .foot-body .col-md-6 {
    padding-left: 30px !important;
  }
}
@media (max-width: 991px) {
  footer .foot-body .contactus {
    display: b;
  }
}
footer .foot-body h3 {
  font-size: 18px;
  color: #001c63;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .foot-body .wcm {
  margin-top: 35px;
}
footer .foot-body ul {
  margin: 0;
  padding: 0;
}
footer .foot-body ul li {
  margin: 0;
  margin-bottom: 12px;
}
footer .foot-body ul li a {
  font-size: 16px;
  color: #8992c7;
}
footer .foot-body .gh {
  margin-bottom: 32px;
}
footer .foot-body h5 {
  font-size: 16px;
  color: #001c63;
  margin-bottom: 15px;
}
footer .foot-body p {
  font-size: 16px;
  color: #001c63;
}
footer .foot-body .social-imgs {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 60px;
}
footer .foot-body .social-imgs img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
footer .foot-body .social {
  margin: 30px 0 10px 0;
}
footer .foot-body h6 {
  font-size: 16px;
  color: #001c63;
  margin-bottom: 26px;
}
footer .foot-body .input-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .foot-body .input-btn input {
  width: 65%;
  padding: 8px 12px;
  border: 1px solid #d0d4ea;
  color: #8992c7;
  font-size: 16px;
  border-radius: 6px;
}
footer .foot-body .input-btn input::-moz-placeholder {
  color: #8992c7;
  font-size: 13px;
}
footer .foot-body .input-btn input::placeholder {
  color: #8992c7;
  font-size: 13px;
}
footer .foot-body .input-btn button {
  width: 32%;
  height: 40px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  background-color: #2240cd;
  border-radius: 8px;
  border-color: transparent;
}
footer .foot-body .input-btn button:hover {
  background-color: #13267a;
}
footer .foot-bottom {
  padding: 36px 60px;
  display: flex;
  height: 110px;
  justify-content: space-between;
  background-color: #f2f4fd;
  align-items: center;
}
@media (max-width: 768px) {
  footer .foot-bottom {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 36px 5px;
  }
}
footer .foot-bottom h6 {
  font-size: 14px;
  color: #8992c7;
  margin: 0;
}
footer .foot-bottom a {
  font-size: 16px;
  color: #8992c7;
}
footer .foot-bottom .terms {
  margin-left: 24px;
}
@media (max-width: 768px) {
  footer .foot-bottom .terms {
    margin-left: 15px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none !important;
  list-style: none !important;
} /*# sourceMappingURL=style.css.map */
